/* Estilos para el encabezado */
header {
    background-color: #f8f8f8;
    color: #111111;
    text-align: center;
}


/* Estilos para el pie de página */
footer {
    background-color: #333;
    color: #f80a0a;
    text-align: center;
}

label, input, p {
    display: block;
    text-align: center;
}

/* Estilos para el contenedor principal */
.body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh;
    margin: 0;
    
}   

/* Estilos para el encabezado (header) */
.header {
    text-align: center;
}

/* Estilos para el formulario de datos de identificación */
#formulario-datos-identificacion {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #0ce44d;
    border-radius: 5px;
    background-color: #ffffff;
}

/* Estilos para los campos de identificación */
.label {
    display: block;
    margin: 200px 0;
}

input {
    width: 100%;
    padding: 3px;
    margin: 10px 0;
    border: 1px solid #db0808;
    border-radius: 3px;
}

button {
    display: block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

/* Estilos para el pie de página (footer) */
footer {
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    background-color: #fcfafa;
}

.section-content {
    display: flex;
    align-items: center;
}

.left {
    flex: 1;
    margin: 0;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    background-color: #f7f7f7;
    
    
}
.centrar {
    text-align: center;
}


.right {
    flex: 2; /* Puedes ajustar el valor flex para controlar el ancho del textarea */
}

textarea {
    width: 100%;
    margin-left: 10px;
}






