:root {
    --primary: #535f6d;
    --secondary: #f3f3f3;
/*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=264ed9&c2=9fd2a8&gt=c&gd=dtr
*/
background: rgba(38, 78, 217, 1.0);
background: conic-gradient(from 45deg, rgba(38, 78, 217, 1.0), rgba(159, 210, 168, 1.0));
}
/* Estilos para el encabezado */
header {
    color: #630af3;
    text-align: center;
    
}


.body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    
}



/* Estilos para el formulario de datos de identificación */
#formulario-datos-identificacion {
    margin-top: 10px;
    padding: 50px;
    border: 1px solid #4d0ce4;
    border-radius: 50px;
    
    display: flex;
    flex-wrap: wrap;
}

/* Estilos para los campos de identificación */

label {
    width: 50%; /* Ancho del label */
    margin-bottom: 5px;
    font-weight: bold;
}

input {
    width: 50%; /* Ancho del input */
    padding: 5px;
    margin: 5px 0;
    border: 1px solid #0c0b0b;
    border-radius: 6px;
    box-sizing: border-box;
}

button {
    display: block;
    margin: 10px 35px;
    padding: 10px 20px;
    background-color: #ff2600;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

#medico {
    width: 40%; /* O el ancho que desees */
    padding: 3px;
    margin: 10px 0;
   
    border-radius: 3px;
    order: 1;
    
}
#fecha {
    width: 10%; /* O el ancho que desees */
    padding: 3px;
    margin: 10px 0;
   
    border-radius: 3px;
    order: 1;
}
